{% extends 'layout.twig' %}

{% block title %}
    Title
{% endblock %}

{% block content %}
    <table>
        <thead>
        <th>Id</th>
        <th>Date</th>
        </thead>

        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.date }}</td>
                <td><a href="/sales/{{ sale.id }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{%  endblock %}